# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Sensitives\My Drive\Study Files\2020\2020\Semester 2\Software Engineering Design and Construction\Tutorial 4\159251.Axel.12246765\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
